.cardBox {
  max-width: 27rem;
  padding: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.cardImage {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.cardImageBox {
  position: relative;
  overflow: hidden;
}
.main-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}
.stairs {
  width: 1.4rem;
  height: 1.4rem;
}
.door {
  width: 1.7rem;
  height: 1.7rem;
}
.bed {
  width: 1.7rem;
  height: 1.3rem;
}
.homeDetails {
  display: flex;
  align-items: center;
  padding: 1.24rem 0 1.6rem 0;
  gap: 0.8rem;
}
.homeDetails span {
  font-size: 1.4rem;
  color: #71717a;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.detailedTitle,
.dateUploaded {
  font-size: 1.4rem;
  color: #71717a;
}
.dateUploaded {
  opacity: 0;
  padding-top: 1rem;
  transition: all 0.3s;
}
.cardBox:hover .dateUploaded {
  opacity: 1;
}
.cardBox:hover {
  box-shadow: 0 0 0 1px #e8e8e8;
}
.cardBox:hover .cardImage {
  transform: translateY(-0.2rem);
}
.pricingAndInfoBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pricingAndInfo {
  font-size: 1.3rem;
  color: #333;
}
.icon {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(51, 51, 51, 0.765);
  padding: 0.5rem;
  border-radius: 100%;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
  -webkit-user-select: none;
  user-select: none;
}

.forwardIcon {
  right: 0;
}
.backIcon {
  left: 0;
}
.cardBox:hover .icon {
  opacity: 0.2;
}
.cardImageBox:hover .icon {
  opacity: 0.8;
}
.icon:hover {
  opacity: 1 !important;
}
